.auth-section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 50px;
}

.auth-container {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 400px;
    margin: 0 auto;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    z-index: 1;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    justify-content: center;
}

.auth-container button{
    cursor: pointer;
    width: 100%;
    padding: 5px 0px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #0084ff;
    font-size: 16px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0084ff;
    font-weight: 600;
    transition: .3s ease;
}

.auth-container .auth-logo{
  height: 50px;
  width: 50px;
}

.auth-container .auth-logo img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.auth-container button:hover{
    background-color: #0084ff;
    color: white;
}

.auth-container h1 {
    font-size: 36px;
    font-weight: 600;
    color: #0084ff;
    margin: 10px 0;
}

.auth-container h4{
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0px;
    padding-top: 20px;
}

.auth-container span {
    font-size: 16px;
    font-weight: 500;
    color: #0084ff;
    cursor: pointer;
    margin-left: 10px;
    transition: all .3s ease;
}s

.auth-container span:hover {
    color: #0084ff;
    text-decoration: underline;
}

body {
    display: flex; 
    background-color: #f2f2f2;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .glowing {
    z-index: 1;
    position: absolute;
    min-width: 700px;
    height: 550px;
    margin: -150px;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
  }
  
  .glowing:nth-child(even) {
    transform-origin: left;
  }
  
  @keyframes colorChange {
    0% {
      filter: hue-rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  .glowing span {
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
  }
  
  .glowing span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: #f00;
    border-radius: 50%;
  }
  
  .glowing span:nth-child(3n + 1)::before {
    background: rgba(134,255,0,1);
    box-shadow: 0 0 20px rgba(134,255,0,1),
      0 0 40px rgba(134,255,0,1),
      0 0 60px rgba(134,255,0,1),
      0 0 80px rgba(134,255,0,1),
      0 0 0 8px rgba(134,255,0,.1);
  }
  
  .glowing span:nth-child(3n + 2)::before {
    background: rgba(255,214,0,1);
    box-shadow: 0 0 20px rgba(255,214,0,1),
      0 0 40px rgba(255,214,0,1),
      0 0 60px rgba(255,214,0,1),
      0 0 80px rgba(255,214,0,1),
      0 0 0 8px rgba(255,214,0,.1);
  }
  
  .glowing span:nth-child(3n + 3)::before {
    background: rgba(0,226,255,1);
    box-shadow: 0 0 20px rgba(0,226,255,1),
      0 0 40px rgba(0,226,255,1),
      0 0 60px rgba(0,226,255,1),
      0 0 80px rgba(0,226,255,1),
      0 0 0 8px rgba(0,226,255,.1);
  }
  
  .glowing span:nth-child(3n + 1) {
    animation: animate 10s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 2) {
    animation: animate-reverse 3s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 3) {
    animation: animate 8s alternate infinite; 
  }
  
  @keyframes animate {
    0% {
      transform: rotate(180deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-reverse {
    0% {
      transform: rotate(360deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    100% {
      transform: rotate(0deg);
    }
  }